venv/
vscode/
.env
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.log
*.pot
*.py[cod]
*.so
*.sqlite3
*.db
*.sqlite
*.log
*.bak
*.backup
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.log
*.pot
*.py[cod]


firebase-credentials.json
*.zip
celerybeat-*